body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

.left-main {
  display: flex;
  justify-content: flex-start;
  width: 50vw;

  background: #71d4b4;
}

h1 {
  font-family: "Poppins", Arial, sans-serif;
  text-decoration: none;
  text-align: start;
  color: #6c5d5b;
  display: flex;
  align-items: flex-end;
  font-size: 108px;
  padding: 20px;
  padding-left: 10px;
  margin:0px;
}

.right-main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  /* background-color: #71D4B4; */
}

.top,
.middle,
.last {
  height: 33%;
  width: 100%;
}

.top {
  display: flex;
  align-items: flex-start;
  background-color: #71d4b4;
}

.middle {
  display: flex;
  gap: 20px;
  align-items: center;
}

.last {
  display: flex;
  align-items: flex-end;
  background-color: #71d4b4;
}

.middle-left,
.middle-right {
  width: 50%;
  height: 100%;
  background-color: #71d4b4;
}
.middle-left {
  justify-content: flex-start;
}
.middle-right {
  justify-content: flex-end;
}

.container {
  padding: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 20px;
  background-color: #6c5d5b;
}

/* .right-top,
.right-middle,
.right-bottom {
  position: relative;
  display: flexbox;
  background: #71D4B4;
  justify-content: flex-end;
  width: 50%;
  height: 33%;
}

.right-top {
  align-items: flex-start;
}

.right-middle {
  align-items: center;
}

.right-bottom {
  align-items: flex-end;
} */
