body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.left-main {
  width: 50vw;
  background: violet;
}

.right-main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  /* background-color: violet; */
}

.top,
.middle,
.last {
  height: 33%;
  width: 100%;
}

.top {
  display: flex;
  align-items: flex-start;
  background-color: violet;
}

.middle {
  display: flex;
  gap: 20px;
  align-items: center;
}

.last {
  display: flex;
  align-items: flex-end;
  background-color: violet;
}

.middle-left,
.middle-right {
  width: 50%;
  height: 100%;
  background-color: violet;
}
.middle-left {
  justify-content: flex-start;
}
.middle-right {
  justify-content: flex-end;
}

.container {
  padding: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 20px;
}

/* .right-top,
.right-middle,
.right-bottom {
  position: relative;
  display: flexbox;
  background: violet;
  justify-content: flex-end;
  width: 50%;
  height: 33%;
}

.right-top {
  align-items: flex-start;
}

.right-middle {
  align-items: center;
}

.right-bottom {
  align-items: flex-end;
} */
