img {
  position: absolute;
  left: 9.38%;
  right: 9.37%;
  top: 0%;
  bottom: 0%;
}

body {
  background-color: #e5e5e5;
  background: linear-gradient(294.5deg, #c8dce6 0%, #b6ccda 100%);
}

p {
  position: absolute;
  width: 680px;
  height: 258px;
  left: 162px;
  top: 271px;

  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 86px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

p strong {
  font-weight: 700;
}

.page-nav {
  position: absolute;
width: 5px;
height: 21px;
left: 180px;
top: 812px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
}

.watch {
  width: 489px;
  height: 489px;
  top: 177px;
  left: 837px;
}

.watch-shadow {
  position: absolute;
  width: 309px;
  height: 50px;
  left: 926px;
  top: 666px;

  background: #abc6d6;
  border-radius: 25px;
  filter: blur(20px);
}

.main-nav-bar li {
  display: inline-block;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  list-style: none;
  margin-left: 130px;
}

.watch-color,
.watch-bg-black,
.watch-bg-green,
.watch-bg-pink {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 760px;
}

.watch-color img:first-child {
  z-index: 1;
  left: 913px;
}

.watch-color img:nth-child(2) {
  z-index: 1;
  left: 1072px;
}

.watch-color img:nth-child(3) {
  z-index: 1;
  left: 1231px;
}

.watch-bg-black,
.watch-bg-green,
.watch-bg-pink {
  border-radius: 10px;
  position: absolute;
  width: 131px;
  height: 70px;
}

.watch-bg-black {
  background: rgba(67, 69, 88, 0.6);
  left: 894px;
  top: 788px;
}

.watch-bg-green {
  background: rgba(106, 221, 204, 0.6);
  left: 1052px;
  top: 788px;
}

.watch-bg-pink {
  background: rgba(249, 205, 196, 0.6);
  left: 1212px;
  top: 788px;
}

.ellipse-black,
.ellipse-blue,
.ellipse-green,
.ellipse-pink {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1348px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
}

.ellipse-black {
  top: 369px;
  background: #404354;
}

.ellipse-green {
  top: 467px;
  background: #58d7c4;
}

.ellipse-pink {
  background: #f2cec6;
  top: 511px;
}

.ellipse-blue {
  width: 30px;
  height: 30px;
  left: 1343px;
  top: 413px;
  border-radius: 15px;
  background: #abc6d6;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.btn {
  position: absolute;
  width: 250px;
  height: 70px;
  left: 162px;
  top: 611px;

  font: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #fffafa;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: rgba(106, 221, 204, 0);
}
